<div class="row about-me-box">
  <div class="column small-12 medium-12 large-8">
    <h2>About Me</h2>
    <p>Hello! I'm Lily Stoney, and I'm a London-based full stack web developer.</p>
    <p>
      I've been a developer for 2 years now, and in that time I've been fortunate to work
      on a variety of great projects. I love building new sites, from the UI/UX Design to
      the development of front end and back end.
    </p>
    <p>
      As well as my time as a developer, I was a Data Analyst for the NHS involved in the
      creation of SQL reports and databases which has been hugely beneficial in the modelling
      and querying of PostgreSQL and MySQL databases.
    </p>
    </p>
    <p>
      I speak Japanese and thoroughly enjoy the culture; if I'm not dancing to some jpop or
      watching Anime, I can be found playing video games or developing personal projects.
    </p>
  </div>
  <div class="column small-12 medium-12 large-4">
    <%= image_tag('doggy_lily.jpg', class: 'image about-me-picture') %>
  </div>
</div>
