<div id="contact_me">
  <div class="row">
    <div class="small-12" style="text-align: center;">
      <h2>Contact Me</h2>
    </div>

    <div class="columns small-12 medium-8 small-centered form">
      <form action="https://getform.io/f/9421e63f-40ea-44b8-afae-dc040640be27" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="email">Email Address</label>
        <input type="email" name="email">
        <label for="description">Description</label>
        <textarea rows="4" name="description"></textarea>
        <button class="button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
