<div>
  <div id="header-information">
    <h1 class="title">Lily Stoney</h1>
    <h2 class="sub-title">Software Sorceress (Full Stack Web Developer)</h2>
    <div class="dev-icons">
      <i class="icon devicon-ruby-plain"></i>
      <i class="icon devicon-rails-plain-wordmark"></i>
      <i class="icon devicon-sass-original hide-sm"></i>
      <i class="icon devicon-javascript-plain hide-sm"></i>
      <i class="icon devicon-react-original"></i>
      <%= image_tag('elixir.png', style: 'height: 40px; margin-left: 5px; margin-bottom: 10px;') %>
      <%= image_tag('phoenix.svg', style: 'height: 40px; margin-left: 5px; margin-bottom: 10px;') %>
    </div>
  </div>
</div>
