<div>
  <div id="header-information">
    <h1 class="title">Lily Stoney</h1>
    <h2 class="sub-title">Software Sorceress (Full Stack Web Developer)</h2>
    <div class="dev-icons">
      <i class="icon devicon-ruby-plain"></i>
      <i class="icon devicon-rails-plain-wordmark"></i>
      <i class="icon devicon-sass-original"></i>
      <i class="icon devicon-javascript-plain"></i>
      <i class="icon devicon-react-original"></i>
    </div>
  </div>
</div>
