<nav>
  <ul class="nameplate menu"></ul>

  <ul id="right-nav" class="align-right menu">
    <li><%= link_to('Home', '#') %></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact_me">Contact me</a></li>
  </ul>
</nav>
